@{
    ViewBag.Title = "successfulPayment";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="main-shopping">
    <div class="col-12 text-center">
        <div class="complate-page-container">
            <div class="success-checkout">
                <div class="container">
                    <div class="icon-success">
                        <span class="fa fa-check"></span>
                    </div>
                    <div class="order-success">
                        سفارش شما با موفقیت پرداخت و در سیستم ثبت شد.
                        <span class="order-ready-post">
                            پرداخت با موفقیت انجام شد. سفارش شما با موفقیت ثبت شد و در زمان تعیین شده برای شما ارسال خواهد شد.
                            <br>
                            از اینکه دیجی استور را برای خرید انتخاب کردید از شما سپاسگزاریم.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>