@model Ecommerce.Models.Brand
@using Ecommerce.PublicModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Ecommerce


<form asp-controller="Brand" asp-action="AddEditBrand" id="addeditBrand" data-ajax="true" data-ajax-method="post"
      data-ajax-update="#addeditBrand" data-ajax-mode="replace">

    @*header*@
    @if (Model.Id != 0)
    {
    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "ویرایش برند" })
    }
    else
    {
    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "افزودن برند" })
    }

    @*body*@
    <div class="modal-body form-horizontal">

        <div class="row">
            <div class="form-group">
                <label asp-for="Title" class="col-lg-2 col-sm-2 control-label"></label>
                <div class="col-lg-6">
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group hidden">
                <label asp-for="Id" class="col-lg-2 col-sm-2 control-label"></label>
                <div class="col-lg-6">
                    <input asp-for="Id" class="form-control" />
                </div>
            </div>

            <input type="hidden" name="redirecturl" value="@Url.Action("index","Brand")" />

        </div>
    </div>

    @*footer*@
    @if (Model.Id != 0)
    {
    @await Html.PartialAsync("_ModalFooter", new ModalFooter { SubmitButtonText = "ویرایش برند" })
    }
    else
    {
    @await Html.PartialAsync("_ModalFooter", new ModalFooter { SubmitButtonText = "افزودن برند" })
    }

</form>