
@{
    ViewBag.Title = "بهبود پارسه";
}

<div class="container">
    <div class="info-page-faq" style="margin-top:215px">
        <div class="content-info-page">
            <div class="box-rounded-content">
                <section class="js-expert-article">
                    <div class="content-expert-articles">
                        <div class="content-expert-text">
                            <p style="text-align:justify"><span style="font-size:20px"><span style="color:#c0392b"><strong></strong></span></span></p>
                        </div>
                        <br>
                        <div class="content-expert-text">
                            <p style="text-align:justify; line-height: 45px;">
                                <span style="font-size:18px">
                                    هلدینگ بهبود پارسه و یدک گستر پارسیان با هدف واردات و تولید لوازم و قطعات یدکی خودرو از سال ۱۳۸۵ کار خود را آغاز نمود. این شرکت هم‌اکنون با واردات و تولید بیش از ۲۰۰ نوع قطعه انواع محصولات خودروهای ایران‌خودرو و سایپا از قبیل: ۴۰۵، ۲۰۶، سمند، ۲۰۷، سوزوکی ، برلیانس ، پراید و .... در زمینه تامین قطعات یدکی مرغوب و با کیفیت و دارای ضمانت به گواهی افراد متخصص و حرفه ای در این بخش آماده ارسال و فروش عمده و خرده محصولات خود به تمام نقاط کشور می باشد. همچنین در سال جاری برخی محصولات این شرکت با واسطه به کشورهای همسایه نیز صادر شده است. دفتر اصلی شرکت در شهر تهران واقع شده و آماده عقد قرارداد و اعطای نمایندگی فعال جهت پخش محصولات و خدمات در سایر استانها و شهرستانها می باشد و این شرکت با در نظر گرفتن سال جهش تولید و حمایت از مصرف کننده، با تاکسیرانی کل کشور قرارداد انحصاری در جهت تامین قطعات و خدمات تعمیرگاهی بسته تا رانندگان محترم با نازل ترین قیمت و بهترین کیفیت، کالاهای خود را تامین نمایند.
                                </span>
                            </p>
                            <p style="text-align:justify; line-height: 45px;">
                                <span style="font-size:18px">
                                    تلفن تماس : 88243738 و 88243637
                                </span>
                            </p>
                        </div>
                        <br>
                    </div>
                </section>
            </div>
            <br>
            <br>

        </div>
    </div>
</div>



