@{
    ViewBag.Title = "Contact";
}
<div class="container">
    <div class="info-page-faq">
        <div class="content-info-page">
            <div class="box-rounded-content">
                <section class="js-expert-article">
                    <div class="content-expert-articles">
                        <br>
                        <div class="content-expert-text">
                        </div>
                        <br>
                        <br>
                        <div class="content-expert-text">
                        </div>
                        <br>
                        <br>
                        <div class="content-expert-text">
                            <p style="text-align:justify"><span style="font-size:20px"><span style="color:#c0392b"><strong>تماس با ما</strong></span></span></p>
                        </div>
                        <br>
                        <div class="content-expert-text">
                            <p style="text-align:justify; line-height: 45px;">
                                <span style="font-size:18px">
                                    آدرس دفتر مرکزی : تهران ، خیابان ستارخان ، خیابان پاتریس لومومبا ، بین خیابان 23 و 25 ، پلاک 190 ، واحد 2
                                </span>
                            </p>
                            <p style="text-align:justify; line-height: 45px;">
                                <span style="font-size:18px">
                                    تلفن تماس : 88243738 و 88243637
                                </span>
                            </p>
                        </div>
                        <br>
                    </div>
                </section>
            </div>
            <br>
            <br>

        </div>
    </div>
</div>