
@{
    ViewBag.Title = "هواتون رو داریم";
}

    <div class="container">
        <div class="info-page-faq" style="margin-top:215px">
            <div class="content-info-page">
                <div class="box-rounded-content">
                    <section class="js-expert-article">
                        <div class="content-expert-articles">
                            <div class="content-expert-text">
                                <p style="text-align:justify"><span style="font-size:20px"><span style="color:#c0392b"><strong></strong></span></span></p>
                            </div>
                            <br>
                            <div class="content-expert-text">
                                <p style="text-align:justify; line-height: 45px;">
                                    <span style="font-size:18px">
                                        «اتحادیه تاکسیرانی شهری کشور» طرحی را با عنوان «خدمات حمایتی» برای اعضای خود ارائه می‌دهد. شرکت «بهبود پارسه» در راستای مسئولیت اجتماعی و برای اجرای هرچه جامع‌تر و کاراتر این طرح، قراردادی با «اتحادیه تاکسیرانی شهری کشور» عقد کرده‌است تا در حوزه «خدمات خودرویی»، زیرساختی را برای ارائه‌ی این خدمات اعم از فروش لوازم یدکی خودرو با تضمین بالاترین کیفیت و مناسب‌ترین قیمت و خدمات تعمیرگاهی فراهم سازد.
                                        بر این اساس شرکت «بهبود پارسه» و پلتفرم «کاربیوتیک» به‌عنوان نماینده انحصاری اتحادیه در حوزه‌ی لوازم یدکی خودرو در حال فعالیت است. امید است این حرکت، یک گام هرچند کوچک در جهت بهبود رضایت رانندگان عزیز باشد. رانندگانی که در هر شرایطی درحال خدمت‌رسانی به ملت شریفمان هستند.
                                        همچنین در وضعیت کنونی دنیا، با توجه به شیوع ویروس کرونا در سراسر جهان، خرید اینترنتی به‌عنوان پروتکلی امن در دستور کار مردم قرار گرفته است. پلتفرم «کاربیوتیک» هم در راستای فاصله‌گذاری اجتماعی و جلوگیری از شیوع بیشتر ویروس کرونا، خدمات ویژه‌ای برای خرید غیرحضوری در نظر گرفته است.
                                        هم‌اکنون برای خرید غیرحضوری لوازم یدکی، می‌توانید به سایت «<a href="http://carbiotic.ir/">کاربیوتیک</a>» مراجعه کنید. همینطور می‌توانید لیست اقلام و قطعات تامین شده را از  <a href="http://irtu.ir/fa-IR/DouranPortal/6036/page/%D9%84%D9%88%D8%A7%D8%B2%D9%85-%DB%8C%D8%AF%DA%A9%DB%8C" target="_blank">اینجا</a>، به‌طور مستقیم از درگاه اتحادیه مشاهده کنید.
                                    </span>
                                </p>
                                <p style="text-align:justify; line-height: 45px;">
                                    <span style="font-size:18px">
                                        تلفن تماس : 88243738 و 88243637
                                    </span>
                                </p>
                            </div>
                            <br>
                        </div>
                    </section>
                </div>
                <br>
                <br>

            </div>
        </div>
    </div>



