@{
    ViewBag.Title = "به کاربیوتیک خوش آمدید";
}

<!-- Start Main Slider -------------------->
<div class="col-lg-9 col-md-8 col-xs-12 pull-right">
    @await Component.InvokeAsync("MainSlider")
</div>
<!-- End Main Slider ---------------------->
<!--   promo single------------------>
<div class="col-lg-3 col-xs-12 pull-left">
    <div class="promo-single-right">
        <a href="#"><img src="~/images/promo/1000013399.gif"></a>
    </div>

    @*<a href="#" class="promo-single-show-more">
            مشاهده همه شگفت انگیزها
        </a>*@
</div>
<!--   promo single------------------>

@await Component.InvokeAsync("LatestProducts")

@await Component.InvokeAsync("RelatedProducts")

@await Component.InvokeAsync("BestSaleProducts")

@await Component.InvokeAsync("OfferedItems")

<!--   slider-product-------------------->