@{
    ViewBag.Title = "به کاربیوتیک خوش آمدید";
}

<!-- Start Main Slider -------------------->
<div class="col-lg-9 col-md-8 col-xs-12 pull-right">
    @await Component.InvokeAsync("MainSlider")
</div>
<!-- End Main Slider ---------------------->
<!--   promo single------------------>
<div class="col-lg-3 col-xs-12 pull-left">
    <div class="promo-single-right">
        <a href="#"><img src="~/images/promo/1000013399.gif"></a>
    </div>

    @*<a href="#" class="promo-single-show-more">
            مشاهده همه شگفت انگیزها
        </a>*@
</div>
<!--   promo single------------------>

@await Component.InvokeAsync("LatestProducts")

@await Component.InvokeAsync("RelatedProducts")

@await Component.InvokeAsync("BestSaleProducts")

<!--   adplacement -------------------->
@*<div class="adplacement">
        <div class="col-6 col-lg-3 pull-right" style="padding-left:0;">
            <a href="#" class="item-adplacement">
                <img src="~/images/post-adplacement/1000009159.jpg" title="صوتی و تصویری">
            </a>
        </div>
        <div class="col-6 col-lg-3 pull-right">
            <a href="#" class="item-adplacement">
                <img src="~/images/post-adplacement/1000010064.jpg" title="شوینده ظروف">
            </a>
        </div>
        <div class="col-6 col-lg-3 pull-right" style="padding-left:0;">
            <a href="#" class="item-adplacement">
                <img src="~/images/post-adplacement/1000005397.jpg" title="افس">
            </a>
        </div>
        <div class="col-6 col-lg-3 pull-right">
            <a href="#" class="item-adplacement">
                <img src="~/images/post-adplacement/1000005393.jpg" title="مراقبت پوست و مو">
            </a>
        </div>
    </div>*@
<!--   adplacement -------------------->
<!--   slider-product-------------------->
@*<div class="col-lg-12 col-md-12 col-xs-12 pull-right">
        <div class="row">
            <div class="col-12">
                <div class="widget widget-product card">
                    <header class="card-header">
                        <span class="title-one">
                            کالاهای مرتبط با خودرو شما
                        </span>
                        <h3 class="card-title"></h3>
                    </header>
                    <div class="product-carousel owl-carousel owl-theme owl-rtl owl-loaded owl-drag">
                        <div class="owl-stage-outer">
                            <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2234px;">
                                <div class="owl-item active" style="width: 309.083px; margin-left: 10px;">
                                    <div class="item">
                                        <a href="#">
                                            <img src="~/images/product-slider-2/111460776.jpg" class="img-fluid" alt="">
                                        </a>
                                        <h2 class="post-title">
                                            <a href="#">
                                                گوشی موبایل سامسونگ مدل Galaxy A50 SM-A505F/DS دو ...
                                            </a>
                                        </h2>
                                        <div class="price">
                                            <del><span>۴,۵۳۰,۰۰۰<span>تومان</span></span></del>
                                            <ins><span>۳,۳۹۵,۰۰۰<span>تومان</span></span></ins>
                                        </div>
                                    </div>
                                </div><div class="owl-item active" style="width: 309.083px; margin-left: 10px;">
                                    <div class="item">
                                        <a href="#">
                                            <img src="~/images/product-slider-2/111474228.jpg" class="img-fluid" alt="">
                                        </a>
                                        <h2 class="post-title">
                                            <a href="#">
                                                گوشی موبایل سامسونگ مدل Galaxy A10 SM-A105F/DS دو ...
                                            </a>
                                        </h2>
                                        <div class="price">
                                            <del><span>۴,۵۳۰,۰۰۰<span>تومان</span></span></del>
                                            <ins><span>۳,۳۹۵,۰۰۰<span>تومان</span></span></ins>
                                        </div>
                                    </div>
                                </div><div class="owl-item active" style="width: 309.083px; margin-left: 10px;">
                                    <div class="item">
                                        <a href="#">
                                            <img src="~/images/product-slider-2/112145268.jpg" class="img-fluid" alt="">
                                        </a>
                                        <h2 class="post-title">
                                            <a href="#">
                                                گوشی موبایل سامسونگ مدل Galaxy A70 SM-A705FN/DS دو...
                                            </a>
                                        </h2>
                                        <div class="price">
                                            <del><span>۴,۵۳۰,۰۰۰<span>تومان</span></span></del>
                                            <ins><span>۳,۳۹۵,۰۰۰<span>تومان</span></span></ins>
                                        </div>
                                    </div>
                                </div><div class="owl-item active" style="width: 309.083px; margin-left: 10px;">
                                    <div class="item">
                                        <a href="#">
                                            <img src="~/images/product-slider-2/111475300.jpg" class="img-fluid" alt="">
                                        </a>
                                        <h2 class="post-title">
                                            <a href="#">
                                                گوشی موبایل سامسونگ مدل Galaxy A30 SM-A305F/DS دو ...
                                            </a>
                                        </h2>
                                        <div class="price">
                                            <del><span>۴,۵۳۰,۰۰۰<span>تومان</span></span></del>
                                            <ins><span>۳,۳۹۵,۰۰۰<span>تومان</span></span></ins>
                                        </div>
                                    </div>
                                </div><div class="owl-item" style="width: 309.083px; margin-left: 10px;">
                                    <div class="item">
                                        <a href="#">
                                            <img src="~/images/product-slider-2/113542184.jpg" class="img-fluid" alt="">
                                        </a>
                                        <h2 class="post-title">
                                            <a href="#">
                                                گوشی موبایل اپل مدل iPhone 11 Pro Max A2218 دو سیم...
                                            </a>
                                        </h2>
                                        <div class="price">
                                            <del><span>۴,۵۳۰,۰۰۰<span>تومان</span></span></del>
                                            <ins><span>۳,۳۹۵,۰۰۰<span>تومان</span></span></ins>
                                        </div>
                                    </div>
                                </div><div class="owl-item" style="width: 309.083px; margin-left: 10px;">
                                    <div class="item">
                                        <a href="#">
                                            <img src="~/images/product-slider-2/111469793.jpg" class="img-fluid" alt="">
                                        </a>
                                        <h2 class="post-title">
                                            <a href="#">
                                                گوشی موبایل سامسونگ مدل Galaxy A20 SM-A205F/DS دو ...
                                            </a>
                                        </h2>
                                        <div class="price">
                                            <del><span>۴,۵۳۰,۰۰۰<span>تومان</span></span></del>
                                            <ins><span>۳,۳۹۵,۰۰۰<span>تومان</span></span></ins>
                                        </div>
                                    </div>
                                </div><div class="owl-item" style="width: 309.083px; margin-left: 10px;">
                                    <div class="item">
                                        <a href="#">
                                            <img src="~/images/product-slider-2/111472656.jpg" class="img-fluid" alt="">
                                        </a>
                                        <h2 class="post-title">
                                            <a href="#">
                                                گوشی موبایل سامسونگ مدل Samsung Galaxy S10 Plus SM...
                                            </a>
                                        </h2>
                                        <div class="price">
                                            <del><span>۴,۵۳۰,۰۰۰<span>تومان</span></span></del>
                                            <ins><span>۳,۳۹۵,۰۰۰<span>تومان</span></span></ins>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev disabled"><i class="fa fa-angle-right"></i></button><button type="button" role="presentation" class="owl-next"><i class="fa fa-angle-left"></i></button></div><div class="owl-dots disabled"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

@*<div class="col-lg-12 col-md-12 col-xs-12 pull-right">
        <div class="row">
            <div class="col-12">
                <div class="widget widget-product card">
                    <header class="card-header">
                        <span class="title-one">
                            جدیدترین کالاها
                        </span>
                        <h3 class="card-title"></h3>
                    </header>
                    <div class="product-carousel owl-carousel owl-theme owl-rtl owl-loaded owl-drag">
                        <div class="owl-stage-outer">
                            <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2234px;">
                                <div class="owl-item active" style="width: 309.083px; margin-left: 10px;">
                                    <div class="item">
                                        <a href="#">
                                            <img src="~/images/product-slider-2/111460776.jpg" class="img-fluid" alt="">
                                        </a>
                                        <h2 class="post-title">
                                            <a href="#">
                                                گوشی موبایل سامسونگ مدل Galaxy A50 SM-A505F/DS دو ...
                                            </a>
                                        </h2>
                                        <div class="price">
                                            <del><span>۴,۵۳۰,۰۰۰<span>تومان</span></span></del>
                                            <ins><span>۳,۳۹۵,۰۰۰<span>تومان</span></span></ins>
                                        </div>
                                    </div>
                                </div><div class="owl-item active" style="width: 309.083px; margin-left: 10px;">
                                    <div class="item">
                                        <a href="#">
                                            <img src="~/images/product-slider-2/111474228.jpg" class="img-fluid" alt="">
                                        </a>
                                        <h2 class="post-title">
                                            <a href="#">
                                                گوشی موبایل سامسونگ مدل Galaxy A10 SM-A105F/DS دو ...
                                            </a>
                                        </h2>
                                        <div class="price">
                                            <del><span>۴,۵۳۰,۰۰۰<span>تومان</span></span></del>
                                            <ins><span>۳,۳۹۵,۰۰۰<span>تومان</span></span></ins>
                                        </div>
                                    </div>
                                </div><div class="owl-item active" style="width: 309.083px; margin-left: 10px;">
                                    <div class="item">
                                        <a href="#">
                                            <img src="~/images/product-slider-2/112145268.jpg" class="img-fluid" alt="">
                                        </a>
                                        <h2 class="post-title">
                                            <a href="#">
                                                گوشی موبایل سامسونگ مدل Galaxy A70 SM-A705FN/DS دو...
                                            </a>
                                        </h2>
                                        <div class="price">
                                            <del><span>۴,۵۳۰,۰۰۰<span>تومان</span></span></del>
                                            <ins><span>۳,۳۹۵,۰۰۰<span>تومان</span></span></ins>
                                        </div>
                                    </div>
                                </div><div class="owl-item active" style="width: 309.083px; margin-left: 10px;">
                                    <div class="item">
                                        <a href="#">
                                            <img src="~/images/product-slider-2/111475300.jpg" class="img-fluid" alt="">
                                        </a>
                                        <h2 class="post-title">
                                            <a href="#">
                                                گوشی موبایل سامسونگ مدل Galaxy A30 SM-A305F/DS دو ...
                                            </a>
                                        </h2>
                                        <div class="price">
                                            <del><span>۴,۵۳۰,۰۰۰<span>تومان</span></span></del>
                                            <ins><span>۳,۳۹۵,۰۰۰<span>تومان</span></span></ins>
                                        </div>
                                    </div>
                                </div><div class="owl-item" style="width: 309.083px; margin-left: 10px;">
                                    <div class="item">
                                        <a href="#">
                                            <img src="~/images/product-slider-2/113542184.jpg" class="img-fluid" alt="">
                                        </a>
                                        <h2 class="post-title">
                                            <a href="#">
                                                گوشی موبایل اپل مدل iPhone 11 Pro Max A2218 دو سیم...
                                            </a>
                                        </h2>
                                        <div class="price">
                                            <del><span>۴,۵۳۰,۰۰۰<span>تومان</span></span></del>
                                            <ins><span>۳,۳۹۵,۰۰۰<span>تومان</span></span></ins>
                                        </div>
                                    </div>
                                </div><div class="owl-item" style="width: 309.083px; margin-left: 10px;">
                                    <div class="item">
                                        <a href="#">
                                            <img src="~/images/product-slider-2/111469793.jpg" class="img-fluid" alt="">
                                        </a>
                                        <h2 class="post-title">
                                            <a href="#">
                                                گوشی موبایل سامسونگ مدل Galaxy A20 SM-A205F/DS دو ...
                                            </a>
                                        </h2>
                                        <div class="price">
                                            <del><span>۴,۵۳۰,۰۰۰<span>تومان</span></span></del>
                                            <ins><span>۳,۳۹۵,۰۰۰<span>تومان</span></span></ins>
                                        </div>
                                    </div>
                                </div><div class="owl-item" style="width: 309.083px; margin-left: 10px;">
                                    <div class="item">
                                        <a href="#">
                                            <img src="~/images/product-slider-2/111472656.jpg" class="img-fluid" alt="">
                                        </a>
                                        <h2 class="post-title">
                                            <a href="#">
                                                گوشی موبایل سامسونگ مدل Samsung Galaxy S10 Plus SM...
                                            </a>
                                        </h2>
                                        <div class="price">
                                            <del><span>۴,۵۳۰,۰۰۰<span>تومان</span></span></del>
                                            <ins><span>۳,۳۹۵,۰۰۰<span>تومان</span></span></ins>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev disabled"><i class="fa fa-angle-right"></i></button><button type="button" role="presentation" class="owl-next"><i class="fa fa-angle-left"></i></button></div><div class="owl-dots disabled"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<!--   slider-product-------------------->