@model string
@using Ecommerce.PublicModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Ecommerce

<form asp-controller="SelectItem" asp-action="DeleteSelectItem">

    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "حذف " })

    <div class="modal-body form-horizontal">
        آیا از حذف  @Model مطمئن هستید؟
    </div>

    <input type="hidden" name="redirectUrl" value="@Url.Action("index","SelectItem")" />


    @await Html.PartialAsync("_ModalFooter", new ModalFooter { SubmitButtonText = "حذف " })

</form>