@model IEnumerable<BlogComment>
@inject SignInManager<ApplicationUser> SignInManager

<ul class="post-comments list-unstyled">
    @{
        foreach (var item in Model)
        {
            <li>
                <img alt="" src="images\user\01.jpg" class="user-photo">
                <div class="the-comment">
                    <div class="comment-box">
                        <div class="comment-header">
                            <h4>@item.ApplicationUser?.FullName</h4>
                        </div>
                        <p>
                            @item.Comment
                        </p>
                    </div>
                </div>
            </li>
        }
    }


</ul>

@await Component.InvokeAsync("AddBlogComment")