@model ECommerce.Models.PriceChange

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, ECommerce

<form asp-controller="PriceChange" asp-action="AddEdit" id="AddEdit" data-ajax="true" data-ajax-method="post"
      data-ajax-update="#AddEdit" data-ajax-mode="replace">

    @*header*@
    @if (!String.IsNullOrWhiteSpace(Model.Id))
    {
        @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "ویرایش " })
    }
    else
    {
        @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "افزودن " })
    }

    @*body*@
    <div class="modal-body form-horizontal">

        <div class="row">
            <div class="form-group">
                <label asp-for="ProductId" class="col-lg-3 col-sm-3 control-label"></label>
                <div class="col-lg-6">
                    <select asp-for="ProductId" asp-items="@ViewBag.Products" class="form-control">
                        <option value="" disabled="disabled" selected="selected">انتخاب کالا</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Old" class="col-lg-2 col-sm-2 control-label"></label>
                <div class="col-lg-6">
                    <input asp-for="Old" class="form-control" />
                    <span asp-validation-for="Old" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Date" class="col-lg-2 col-sm-2 control-label"></label>
                <div class="col-lg-6">
                    <input asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
            </div>

            <input type="hidden" asp-for="Id" class="form-control" />

            <input type="hidden" name="redirectUrl" value="@Url.Action("index","PriceChange")" />

        </div>
    </div>

    @*footer*@
    @if (!String.IsNullOrWhiteSpace(Model.Id))
    {
        @await Html.PartialAsync("_ModalFooter", new ModalFooter { SubmitButtonText = "ویرایش " })
    }
    else
    {
        @await Html.PartialAsync("_ModalFooter", new ModalFooter { SubmitButtonText = "افزودن " })
    }

</form>