@model string
@using Ecommerce.PublicModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Ecommerce

<form asp-controller="Slider" asp-action="DeleteSlider">

    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "حذف اسلاید" })

    <div class="modal-body form-horizontal">
        آیا از حذف  @Model مطمئن هستید؟
    </div>

    <input type="hidden" name="redirecturl" value="@Url.Action("Index","Slider")" />


    @await Html.PartialAsync("_ModalFooter", new ModalFooter { SubmitButtonText = "حذف " })

</form>