@model List<CategoryGroup>

    <ul class="nav-categories ul-base">
        @foreach (var categoryGroup in Model)
        {
            <li class="has-sub">
                <a href="#">@categoryGroup.Title</a>
                <ul>
                    @if (categoryGroup.Categories != null)
                    {
                        @foreach (var category in categoryGroup.Categories)
                        {
                            <li>
                                <a asp-controller="Product" asp-action="Category" asp-route-id="@category.Id" class="category-level-2">@category.Title</a>
                            </li>
                        }

                    }
                </ul>
            </li>

        }
    <hr style="height:30px">
        <li class="item-list-menu megamenu-1"><a asp-controller="Home" asp-action="About" class="list-category first after" style="font-weight: bold;">درباره ما</a></li>
        <li class="item-list-menu megamenu-1"><a asp-controller="Home" asp-action="Contact" class="list-category first after" style="font-weight: bold;">تماس با ما</a></li>
        <li class="item-list-menu megamenu-1"><a asp-controller="Blog" asp-action="Index" class="list-category first after" style="font-weight: bold;">بلاگ</a></li>
        <li class="item-list-menu megamenu-1"><a asp-controller="Qusetions" asp-action="Qusetions" class="list-category first after" style="font-weight: bold;">پرسش های متداول</a></li>
    </ul>