@{
    ViewBag.Title = "تایید تغییر رمز عبور";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<section>
    <div class="row form form-lg">
        <div class="col-xl-8 col-md-8">
            <br />
            <h1>@ViewBag.Title</h1>
            <hr />
            <p>رمز عبور شما تغییر یافت. لطفا <a class="btn btn-filled-blue" asp-controller="Account" asp-action="Login">وارد کاربیوتیک شوید</a>.</p>

        </div>
        <div class="col-xl-4 col-md-4">
            <div class="img-form">
                <img asp-append-version="true" src="~/images/skin/resetOK.jpg" width="250" height="268" alt="بازیابی رمز عبور" />
            </div>
        </div>
    </div>
</section>