<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> بلاگ </title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link rel="icon" href="app.ico">
    <link href="~/News/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/News/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/News/css/swiper.min.css" rel="stylesheet" />
    <link href="~/News/css/animate.css" rel="stylesheet" />
    <link href="~/News/css/lity.min.css" rel="stylesheet" />
    <link href="~/News/css/style.css" rel="stylesheet" />
    <link href="~/News/css/style-rtl.css" rel="stylesheet" />
    <link href="~/News/css/bootstrap-rtl.min.css" rel="stylesheet" />
    <link href="~/News/css/gradient_colors/theme_color_8.css" rel="stylesheet" id="color-option" />
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!-- navbar
    ========================================-->
    <nav class="navbar navbar-default navbar-fixed-top appsLand-navbar">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            @*<div class="navbar-header">
                <span class="menu-toggle">
                    <i class="chart"></i>
                    <i class="chart"></i>
                    <i class="chart"></i>
                </span>
                <a class="navbar-brand" href="#">
                    <img alt="" src="~\News\images\app land.png">
                    <img src="~/News/images/app land.png" />
                </a>
            </div>*@
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="app-links" id="bs-example-navbar-collapse-1" style="height: 50px;">
                <ul class="nav navbar-nav navbar-right appsLand-links" style="height: 50px;">
                    @*<li class="visible-xs-block text-center mobile-size-logo">
                        <a href="#">
                            <img alt="" src="~\News\images\app land.png">
                            <img src="~/News/images/app land.png" />
                        </a>
                    </li>*@
                    <li><a asp-controller="Home" asp-action="Index">فروشگاه</a></li>
                    <li><a asp-controller="Blog" asp-action="Index">بلاگ</a></li>
                    <li><a asp-controller="Home" asp-action="About">درباره ما</a></li>
                    <li><a asp-controller="Home" asp-action="Contact">ارتباط با ما</a></li>
                    @*<li><a href="index-demo1-rtl.html#testimonials">اراء عملائنا</a></li>
                    <li class="dropdown hidden-xs">
                        <a href="index-demo1-rtl.html#blog">الاخبار</a>
                        <ul class="dropdown-menu">
                            <li><a href="blog-3-column-rtl.html">3 اعمده</a></li>
                            <li><a href="blog-2-column-rtl.html">2 اعمده</a></li>
                            <li><a href="blog-2-column-sidebar-left-rtl.html">2 اعمده قائمه يسار</a></li>
                            <li><a href="blog-2-column-sidebar-right-rtl.html">2 اعمده قائمه يمين</a></li>
                            <li><a href="blog-list-full-width-rtl.html">افقي كامل العرض</a></li>
                            <li><a href="blog-list-sidebar-left-rtl.html">افقى قائمه يسار</a></li>
                            <li><a href="blog-list-sidebar-right-rtl.html">افقى قائمه يمين</a></li>
                            <li><a href="single-post-rtl.html">الخبر كامل</a></li>
                            <li><a href="single-post-sidebar-left-rtl.html">الخبر كامل قائمه يسار</a></li>
                            <li><a href="single-post-sidebar-right-rtl.html">الخبر كامل قائمه يمين</a></li>
                        </ul>
                    </li>*@
                    @*<li class="visible-xs-block mobile-dropdown-menu">
                        <span class="block pointer" role="button" data-toggle="collapse" data-target="#blog_menu" aria-expanded="false">
                            الاخبار
                        </span>
                        <ul class="collapse list-unstyled" id="blog_menu">
                            <li><a href="index-demo1-rtl.html#blog">اخر الأخبار</a></li>
                            <li><a href="blog-3-column-rtl.html">3 اعمده</a></li>
                            <li><a href="blog-2-column-rtl.html">2 اعمده</a></li>
                            <li><a href="blog-2-column-sidebar-left-rtl.html">2 اعمده قائمه يسار</a></li>
                            <li><a href="blog-2-column-sidebar-right-rtl.html">2 اعمده قائمه يمين</a></li>
                            <li><a href="blog-list-full-width-rtl.html">افقي كامل العرض</a></li>
                            <li><a href="blog-list-sidebar-left-rtl.html">افقى قائمه يسار</a></li>
                            <li><a href="blog-list-sidebar-right-rtl.html">افقى قائمه يمين</a></li>
                            <li><a href="single-post-rtl.html">الخبر كامل</a></li>
                            <li><a href="single-post-sidebar-left-rtl.html">الخبر كامل قائمه يسار</a></li>
                            <li><a href="single-post-sidebar-right-rtl.html">الخبر كامل قائمه يمين</a></li>
                        </ul>
                    </li>*@
                    @*<li><a href="index-demo1-rtl.html#contact">تواصل معنا</a></li>*@
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <!-- Header
    ========================================-->
    <header class="active-navbar inner-header" id="home">
        <div class="app-overlay" style="height: 400px;">
            <div class="header-content">
                <div class="container">
                    <div class="site-intro-content">
                        <h1 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s" style="font-size: 100px; margin-top: 10px; ">اخبار</h1>
                        @*<ul class="list-inline list-unstyled header-links wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                            <li>
                                <a href="#">
                                    الرئسيه
                                </a>
                            </li>
                            <li>
                                <span>
                                    الاخبار
                                </span>
                            </li>
                        </ul>*@
                    </div>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()
    <footer class="apps-footer">
        @*<div class="footer-top">
            <div class="container">
                <div class="apps-short-info">
                    <a href="#">
                        <img alt="" src="~\News\images\app land.png">
                    </a>
                </div>
                <ul class="list-inline list-unstyled footer-social-links">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
        </div>*@
        <div class="footer-bottom">
            <div class="container">
                <p>استفاده از مطالب فروشگاه اینترنتی کار بیوتیک فقط برای مقاصد غیرتجاری و با ذکر منبع بلامانع است. کلیه حقوق این سایت متعلق به (فروشگاه آنلاین کار بیوتیک)<a href="#"></a></p>
            </div>
        </div>
    </footer>

    <!-- start the script -->
    <script src="News/js/jquery-2.2.4.min.js"></script>
    <script src="News/js/bootstrap.min.js"></script>
    <script src="News/js/swiper.jquery.min.js"></script>
    <script src="News/js/wow.min.js"></script>
    <script src="News/js/jquery.countTo.min.js"></script>
    <script src="News/js/lity.min.js"></script>
    <script src="News/js/plugins.js"></script>

    <!-- end the script -->


    @RenderSection("Scriptss", false)

</body>

</html>