@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Account" asp-action="Logout" id="logoutForm" class="navbar-right">
        <button class="btn-login"><span class="mdi mdi-logout"></span>خروج از حساب کاربری</button>
       
        @*<ul class="nav navbar-nav navbar-right">
                <li>
                    <a asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                </li>
                <li>
                    <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
                </li>
            </ul>*@
    </form>
   
        <button onclick="Profileinter()" class="btn-login" style="width: 150px;"><span class="mdi mdi-account"></span>حساب کاربری</button>
    

    <script type="text/javascript">
        function Profileinter() {
            document.location = '@Url.Action("Index","UserProfile")';
        }
    </script>
    
}
else
{
    <a asp-controller="Account" asp-action="Login"><button class="btn-login"><span class="mdi mdi-account-outline"></span>ورود به حساب کاربری</button></a>
}